 * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
  
 body {
    font-family:" Merriweather" , sans-serif;
    background-color: #ebf2ff;
    
 }
    .button__primary{
      background-image:linear-gradient(
         to right, 
      #f1512f 0%,
      #dd2476 51%,
      #ff512f 100%
      );
      color: #fff;
      padding: 2px;
      border: none;
      border-radius: 6px;

    }  

     .container {

       width: 100%;
       margin:0  auto;
       padding:  100px;
     }

     .navbar{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      
      
     }

      
    .navbar__brand {

       width: 100px;
       margin-right: 75%;
    }
     .navbar__logo {
      width: 100%;
     }
     .hero__container {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      
     }
     .hero__image__container {
      width: 0 200px;

     }

     .hero__image {
      width: 100%;
     }
    
     .button__primary {
      padding: 20px;
      font-size: 15px;
     }   
         

        

        
        

       
      
      @media (mini-width: 768px){
         .navbar {
            justify-content: space-between;    
            padding: 10px 20px;      
         }

         .navbar__brand {

            width: 100%;
           }

           .button__primary {
            padding: 20px;
            font-size: 50px;
           }

           .hero__container {
       display: flex;
       flex-direction: row-reverse;
       align-items: center;
       justify-content: space-between;


           }
           
            
            
          
  }

   
  @media (min-width: 1028px){

   .container {

      max-width: 1500px;
   }
   
     .hero__image__container {
      width: 500px;
      height: 500px;
     }
  
     }



  
  @media (mini-width: 400px){
      
  }